@inherits NotificationComponentBase

<div class="alert-service">
    @for (int c = 0; c < NotificationService.messages.Count; c++)
    {
        <span class="alert @getAlertClass(NotificationService.messages[c])">@NotificationService.messages[c].message</span>
    }
</div>
